* {
    margin: 0;
    background: #F4F6F6;
}

.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    box-sizing: border-box;
    height: 64px;
    width: 650px;
    border: 1px solid #BEBEBE;
    border-radius: 8px;
    color: #BEBEBE;
    font-family: "DM Sans";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 20px;
    padding: 0 0 0 25px;
    background-color: #FFFFFF;
    margin: 0 0 0 78px;
}

.name {
    height: 56px;
    width: 237px;
    margin-top: 81px;
}

.insert-img-url-here {
    height: 28px;
    width: 220px;
    color: #2E3C4C;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    background-color: #FFFFFF;
    padding: 50px 0 14px 78px;
}

.rectangle {
    height: 292px;
    width: 806px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(57,71,77,0.05);
    margin-top: 103px;
}